/* Modal module is from w3schools.com
	https://www.w3schools.com/howto/howto_css_modal_images.asp */

@import 'normalize.css';

body {
  margin: 0 auto 0 auto;
  padding: 0;
  background-color: #33333f;
  width: 840px;
  font-family: "Avenir", "Avenir Next", Helvetica Neue, Arial;
  font-size: 0.95em;
}

a, a:visited { text-decoration: none; color: #7533f4; }
a:hover { text-decoration: underline; color: #f4b014; }
img, a.img, a:hover.img { border: none; }

img {
  max-width: 800px;
}

h1, h2, h3, h4, h5 {
  color: #492a7c;
  background-color: inherit;
  font-weight: normal;
  padding: 0 0 5px 0;
  margin: 15px 0 0 0;
  border: none;
  clear: right;
}
h1 { font-size: 28pt; margin:  5px 0 10px 0; line-height: 28px; }
h2 { font-size: 20pt; margin: 30px 0 15px 0; letter-spacing: 0.01em; border-bottom: 1px solid #ccc;  line-height: 20px;}
h3 { font-size: 13pt; }
h4 { font-size: 12pt; }
h5 { font-size: 11pt; }
p { margin: 0 0 10px 0; }
hr { border: 0px; border-top: 1px solid #ccc; height: 0px; }
ol { margin: 1em; }

div.tooltip {
	position: absolute;
	text-align: center;
	width: 60px;
	height: 20px;
	font-size: 16px;
	background: white;
	color: black;
	display: none;
}

.question {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 13px;
	font-style: italic;
}
.entry h3 {
	font-style: italic;
	padding-bottom: 20px;
}
.content {
  margin: 0;
  padding: 25px 20px;
  background-color: #ffffff;
}

.entry  {
  border-bottom: 1px solid #ddd;
  padding-top: 2px;
	padding-bottom: 1.5em;
  margin-top: 1em;
	min-height: 370px;
}

/* ===== Table Module ===== */
table {
	font-family: "Avenir", "Avenir Next", Helvetica Neue, Arial;
	border-collapse: collapse;
	width: 100%;
}	

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	text-align: center;

}

tr:nth-child(even) {
	background-color: #dddddd;
}